.emp-search-icon>p {
    display: inline;
    color: black;
}

.emp-app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding: 50px;
}

.main-table {
    border: 0.5px solid black;
    width: 100%;
    height: 200px;
}

.main-table>.table-header>th {
    border-bottom: 1px solid black;
    text-align: center;
}


.main-table>tr{
    text-align: center;
   
}
.table-header {
    background-color: #23525e;
    font-family: 'Segoe UI';
    color: white;
}

.main-table {
    background-color: white;
    font-family: 'Segoe UI';
    font-weight: 500;
}

.emp-head>p {
    font-size: 44px;
    color: black;
    display: flex;
    justify-content: center;
    font-family: sitka small;
    margin-top: 50px;
    font-weight: bold;
}

/* img {
    width: 36px;
} */

.emp-btn{
    border: none;
    background-color: white;
    
}

.emp-adduserbtn {
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
}

.emp-search-adduser {
    display: flex;
    justify-content: flex-end;
    padding-right: 75px;
}
.emp-edit-img{
    width: 20px;
}
.emp-delete-img{
    width: 20px;   
}
.emp-search-icon>img{
    width: 30px;
}








/* media queries */

@media only screen and (max-width: 600px) {
    .emp-head>p {
        font-size: 35px;
        color: black;
        display: flex;
        justify-content: center;
        font-family: sitka small;
        /* margin-left: 0px; */
        margin-top: 30px;
    }

    .main-table {
        border: 1px solid black;
        width: 900px;
        height: 200px;
    }

    .emp-app {

        padding: 30px 0px 0px 0px;
    }

    .emp-search-adduser {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        padding-top: 20px;
        /* margin-top: 30px; */
    }

}