


.main{
    background-color: #dcebff;
    width: 100%;
    height: 100%;
}

.head{
    display: flex;
    justify-content: center;
    padding: 40px 0px 0px 32px;
}
.head>p{
    font-family: sikta small;
    font-size: 45px;
    font-weight: 600;
    color: black;
}

.box{
    display: flex;
    justify-content: center;
    /* padding: 10px 50px; */
    flex-wrap: wrap;
    gap: 2rem;
    padding:2rem;
    
}

.text1{
    border: 2px solid black;
    border-radius:20px;
    background-color: white;
    padding: 23px 16px 30px 15px;
   
}
.text1>.para{
    font-family: Arial;
    font-size: 24px;
    color: black;
    
}
.dwnd{
    border-radius: 20px;
    border: 2px solid black;
    height: 100%;
    background-color:#efefef;
}
.dwnd>.para{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.btn_text>.para{
    color: black;
    text-align: center;
    padding-top: 20px;

}
.col-3{
    max-width: 300px;
}
.btn_text>button{
    justify-content: center;
    align-items: center;
    display: flex;
}
.eth-btn{
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 11px;
    color: white;
    background-color: #09427d;
    margin-bottom: 2rem;
}
.manImg{
    width: 52px;
    height: 45px;
    border-radius: 10px;
    margin-left: 12px;
}



@media only screen and (max-width: 600px) {
.box{
    padding: 0rem;
}

.head {
    display: flex;
    justify-content: center;
    padding: 40px 0px 0px 50px;
    margin-left:25px;
}
.text>p{
    font-size: 20px;
}
.manImg{
    width: 52px;
    height: 45px;
}
}