.footer-main{
    margin-top: 26px;
}

footer{
    background-color: rgb(0, 0, 0);
   
    text-align: center;
    padding: 21px;
    display:flex;
    justify-content: center;
    gap:1rem;
    bottom:0px;
}



.insta{
    width:20px;
    filter:brightness(0) invert(1);
    
}

.space{
    margin: 6px;
}
