
.navbar-brand{
    width:165px;
    height:45%;
}

.navbar{
    background-color: #09427D;
}

.dropdown:hover .dropdown-menu{
    display: block;
   
}

.dropdown .dropdown-menu{
    display: none;
}

@media only screen and (max-width: 990px) {
    .dropdown:hover .dropdown-menu {
        margin-left: 3.5rem;
        font-family: sikta small;
    }
  }

.dropdown-item{
    color: #09427D;
    font-size: 21px;
}

.dropdown-item:hover{
    text-decoration: none;
   color: #F5AD6C;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: sikta small;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #F5AD6C;
}

a#navbarDropdownMenuLink:hover {
    color: #F5AD6C;
}
a#navbarDropdownMenuLink.nav-link:active{
    color:white;
}
.nav-link a:hover{
    color: #F5AD6C;
}

/* .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: -2.5rem;
    padding-left: -0.5rem;
    margin-left: 9.5rem;
} */
.dropdown:hover .dropdown-menu{
    /* margin-left: 5.5rem; */
    font-family: sikta small;   
}
.nav-link{
    font-size: 23px;
    font-weight: 600;
}


.dropdown1 {
    width: 5%;
    height: 5%;
    overflow: hidden;
  }
  .navbar-collapse{
    justify-content: flex-end;
  }

  .navbar-toggler-icon {
    color: aliceblue;
}
@media (min-width: 700px) {
    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 3.5rem;
    }
}
@media (max-width:700px){
    .dropdown:hover .dropdown-menu {
        margin-left: 0;
        font-family: sikta small;
    }
    
}


.user-logo{
    margin-left: -3.5rem;

}